$border-round: 999px;
@mixin border-thin($color) {
	border: {
		color: ($color);
		radius: $border-round;
		width: 1px;
		style: solid;
	}
}
@mixin border-regular($color) {
	border: {
		color: ($color);
		radius: $border-round;
		width: 2px;
		style: solid;
	}
}