$padding-button: 12px 38px;

@mixin button-main() {
	background-color: $color-main;
	text-transform: $typo-uppercase;
	padding: $padding-button;
	letter-spacing: $typo-spacing;
	transition: 0.4s ease-in-out;
	@include border-regular($color-transperant);
	@include hover-focus {
		border-color: $color-main;
		background-color: $color-transperant;
		color: $color-title;
	}
}