@mixin input($height,$width){
	height: ($height);
	width: ($width);
	border: 1px solid #ebebeb;
	&:focus {
		box-shadow: none;
		border-color: $color-main;
	}
	&:placeholder-shown {
		color: $color-disable--2;
	}
}