%text{
   font-family: $font-main;
   line-height: 1;
   font-weight: $typo-weight--regular;
}

@mixin title($maxwidth,$bottom) {
	@extend %text;
	color: $color-title;
	max-width: ($maxwidth);
	@include pb($bottom) ;
}
@mixin subtitle($maxwidth,$bottom) {
	@extend %text;
	color: $color-title;
	max-width: ($maxwidth);
	@include pb($bottom) ;
}
@mixin regular($maxwidth,$bottom) {
	@extend %text;
	color: $color-title;
	max-width: ($maxwidth);
	line-height: $typo-lh--regular;
	font-weight: $typo-weight--light;
	@include pb($bottom) ;
}
@mixin regular2($bottom) {
	@extend %text;
	font-size: $typo-small;
	text-transform: $typo-uppercase;
	color: $color-main;
	@include pb($bottom) ;
}
@mixin link($color,$hover-color,$bottom) {
	color: ($color);
	text-decoration: $text-decoration--none;
	transition: 0.4s ease-in-out;
	@include pb($bottom);
	@include hover-focus{
		color: ($hover-color);
		text-decoration: none
	}
}
@mixin icon($color,$padding, $hover-color) {
	color: ($color);
	font-size: $typo-regular;
	transition: 0.4s ease-in-out;
	padding: ($padding);
	@include hover-focus{
		color: ($hover-color);
	}
}