.about {
	.breadcrum {
		@include mt(38px);
		display: inline-block;
		li {
			float: left;
			&:after {
				content: ">";
				padding: 0px 5px;
			}
			&:last-child:after {
				content: "";
			}
			a {
				@include link($color-disable,$color-main,0px) ;
			}
			a.active {
				color: $color-title;
			}
		}
	}
	.about_top {
		@include mt(80px);
		@include pb(100px);
		i {
			@include icon($color-main,0px, none);
			@include pb(20px);
			font-size: $typo-xx-large;
			display: block;
		}
		h3 {
			@include regular(auto,5px) ;
			font-weight: $typo-weight--regular;
		}
		p {
			@include regular(auto,8px);
		}
		h1 {
			@include subtitle(auto,10px);
		}
		.col-sm-6 {
			@include mt(50px);
			img {
				@include img-fullwidth();
			}
			img.sign {
				width: 150px;
			}			
		}

	}
	.about_bottom {
		height: 220px;
	    @include mt(50px);
	    position: relative;
   		blockquote {
		    position: absolute;
		    width: 100%;
		    top: 0;
		    left: 0;
		    opacity: 0;
		    visibility: hidden;
		    &.active {
				opacity: 1;
		    	visibility: visible;
		    	animation-name: cdabout;
		    	animation-duration: 2s;
		    }
			@keyframes cdabout {
				0% {
					transform: translateX(200px);
					opacity: 0;
				}
				100% {
					transform: translateX(0);
					opacity: 1;
				}
			}
   			&:before {
		    	content: "”";
		    	font-family: 'Playfair Display', serif;
		    	font-size: 120px;
		    	color: $color-main;
		    	@include mb(-60px);
		    	@include mt(-30px);
			    display: block;
			}
			h3 {
				@include subtitle(765px,10px);
				@include ma();
				font-size: 24px;
				line-height: $typo-lh--large;
			}
			p {
				@include regular(auto,0px);
				color: $color-disable--2;
				margin: 0;
				text-transform: $typo-uppercase;
			}
   		}
   		.about_bottom--control {
   			%next-prv {
   				height: 38px;
				width: 35px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				a {
					@include icon($color-disable--2,0, $color-main);
					font-size: $typo-x-large;
					text-decoration: none;
				}
   			}
			.about_bottom--control--prv {
				@extend %next-prv;
				left: 0;
				// a {
				// 	@include icon($color-disable--2,0, $color-main);
				// 	font-size: $typo-x-large;
				// }
			}
			.about_bottom--control--next {
				@extend %next-prv;
				right: 0;
				// a {
				// 	icon($color-disable--2,0, $color-main);
				// 	font-size: $typo-x-large;
				// }
			}
   		}

	}
}