.contact {
	height: 387px;
	background-color: #e9f8f8;
	display: flex;
	align-items: center;
	@include mt(100px);
	.container {
		text-align: center;
		h1 {
			@include ma();
			@include title(auto,0px) ;
			font-size: $typo-xx-large;
			line-height: $typo-lh--x-large;
			
		}
		.btn {
			@include button-main();
    		border: 2px solid $color-main;
    		margin-top: 25px
		}
	}
}