.about_v2 {
	.breadcrum {
		margin-top: 38px;
		display: inline-block;
		li {
			float: left;
			&:after {
				content: ">";
				padding: 0px 5px;
			}
			&:last-child:after {
				content: "";
			}
			a {
				@include link($color-disable,$color-main,0px);
			}
			a.active {
				color: $color-title;
			}
		}
	}
	iframe {
		@include mt(80px);
	}
	.about_v2_contact {
		@include pt(80px);
		.about_v2_contact--left {
			h2 {
				@include subtitle(auto,15px);
			}
			.left--df {
				font-size: $typo-regular;
			}
			p {
				@include regular(auto,10px);
				font-size:20px;
			}
			h5 {
				@include regular(auto,5px);
				color: $color-disable;
				font-size: 18px;
			}
		}
		.about_v2_contact--right {
			h2 {
				@include subtitle(auto,15px);
			}
			input.form-control {
				@include input(50px,100%);
				@include mb(20px);
			}
			textarea.form-control {
				@include input(88px,100%);
				@include mb(30px);
			}
			.btn {
				@include button-main();
				@include border-regular(transparent);
				@include ma();
				padding: 6px 28px;
				&:hover {
					border-color:  $color-main;
				}
			}
		}
	}
}