
.footer {
	padding: 0px 74px;
	@include ma();
	@include mt(70px);
	@include pb(20px);
	.footer_col1 {
		h1{
			font-size: $typo-x-large;
			font-weight: $typo-weight--bold;
			display: block;
			line-height: 0;
			@include pb(25px);
			&:after{
				content: '®';
				font-size: 10px;
				color: $color-main;
			}
		}
		p {
			@include regular(auto,0);
			color: $color-disable;
			font-weight: $typo-weight--light;
			font-size: $typo-thin;
			margin: 0;
			padding: 0;
		}
	}
	.footer_col2 {
		h5 {
			@include regular(auto,5px);
			color: $color-disable;
			font-weight: $typo-weight--light;
			font-size: $typo-thin;
			text-transform: $typo-uppercase;
		}
		p {
			@include regular(auto,0);
			font-weight: 400;
			margin: 0;
			padding: 0;

		}
	}
	.footer_col3 {
		h5 {
			@include regular(auto,5px);
			color: $color-disable;
			font-weight: $typo-weight--light;
			font-size: $typo-thin;
			text-transform: $typo-uppercase;
		}
		p {
			@include regular(auto,0);
			font-weight: 400;
			@include mb(0);
		}
	}
	.footer_col4 {
	    display: flex;
    	justify-content: flex-end;
		.footer_col4--icons {
		    float: left;
		    display: block;
		    height: 50px;
		    width: 50px;
		    text-align: center;
		    background: #f5f5f5;
		    margin: 0px 5px;
		    border-radius: 999px;
		    transition: 0.4s;
		    &:hover{background-color: $color-main}
		    &:hover a{color: #fff;text-decoration: none;}
		    a {
				@includ link($color-main,#fff,0px);
				color: #404040;
				line-height: 50px;
				transition: 0.4s;
		    }
		}
	}
}
