.intro {
	@include mt(100px);
	text-align: center;
	.intro--tag{
		@include regular2(35px);
		font-size: $typo-small;
		text-transform: $typo-uppercase;
		letter-spacing: $typo-spacing--2;
	}
	.intro--title{
		@include title(1000px,75px);
		@include ma();
		line-height: $typo-lh--x-large;
	}
}