.menu {
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	box-shadow: 0px 2px 24px 0 rgba(51, 71, 86, 0.15);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	height: 101px;
	padding: 0px 74px;
	// transion: 5s;
	&.nav-fixed{
		position: fixed;
		top: 0;
		width: 100%;
		animation-name: down;
		animation-duration: 1s;
		z-index: 99999;
	}
	@keyframes down {
		from {transform: translateY(-200px)}
		to {transform: translateY(0px)}
	}
	.menu_logo {
		h1 {
			@include subtitle(auto,0);
			font-size: $typo-x-large;
			font-weight: 700;
			display: block;
			&:after{
				content: '®';
				font-size: 10px;
				color: $color-main;
			}			
		}
	}
	.menu_items {
		@include ml--auto();
		@include mr(140px);
		ul {
			display: block;
			li {
				float: left;
				margin: 0px 38px;
				position: relative;
				&:last-child {margin-right: 0};
				&:hover .sub-menu {
					opacity: 1;
					visibility: visible;
					transform: scaleY(1);
				}
				> .sub-menu {
				    display: block;
				    position: absolute;
				    text-align: center;
				    background: #efefef;
				    opacity: 0;
				    visibility: hidden;
			        transform: scaleY(0);
   			 		transform-origin: 0% 0%;
					transition: 0.4s ease-in-out
				}
				.sub-menu {
					li {
					    float: none;
					    border-bottom: 1px solid #e9e9e9;
					    margin: 0;
					    padding: 15px 5px;
					    width: 190px;
					    &:last-child {
					    	border-bottom: 0;
					    }
					    a {
					    	color: $color-title;
					    	&:hover {
					    		color: $color-main;
					    	}
					    }
					}
				}
				a {
					@include link($color-disable,$color-main,0);
					text-transform: $typo-uppercase;
					font-size: $typo-small;
					font-weight: $typo-weight--regular;
				}
			}
		}
	}
	.menu_socials {
		ul {
			li {
				float: left;
				margin: 0px 17px;
				&:last-child {@include mr(0)};
				&:first-child {@include ml(0)};
				i {
					@include icon($color-title,16px,$color-main)
				}
			}
		}
	}
}