.portfolio {
	.portfolio_title {
		// background-color: $mauxanh;
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			border: 1px solid #ebebeb;
			border-radius: 999px;
			.portfolio_title--items {
				float: left;
				transition: 0.4s;
				border-left: 1px solid #ebebeb;
				&.active {
					border-left: 0;
					border-right: 0;
				}
				&:nth-child(1){border-left: 0 }
				&:nth-child(5){border-right: 0}
				&:nth-child(1) a{border-top-left-radius: 99px; border-bottom-left-radius: 99px; border-left: 0 }
				&:nth-child(5) a{border-top-right-radius: 99px; border-bottom-right-radius: 99px; border-right: 0}
				.portfolio_title--items--name {
					@include link($color-disable,none,0);
					padding: 13px 20px;
					display: block;
				}
				.portfolio_title--items--name.active {
					background-color: $color-main;
					color: #fff;
				}
			}
		}
	}
	.portfolio_products {
		@include mt(60px);
		height: auto;
		.portfolio_products--detail {
			margin: 15px;
			width: 30.4%;
			overflow: hidden;
			position: relative;
			a {
				height: 100%;
				width: 100%;
			}
			&:hover {
				box-shadow: 0px 23px 49px 0 rgba(61, 82, 96, 0.15);
			}
			img {
				width: 100%;
			}
			&:hover .products-alpha {
				opacity:1;
				cursor: pointer
			}
			&:hover .portfolio_products--detail--title {
				opacity: 1;
				text-decoration: none;
			}
			.products-alpha {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				background-color: rgba(255, 255, 255, 0.84);
				opacity: 0;
				transition: 0.4s;
			}
			.portfolio_products--detail--title {
				opacity: 0;
				transition: 0.4s;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				text-align: center;
				width: 100%;
				// z-index: 2;
				h2 {
					@include subtitle(auto,10px);
				}
				h3 {
					@include regular2(0px);
					font-size: $typo-small;
				}
			}
		}
	}
}