.portfolio-single {
	height: auto;
	.breadcrum {
		@include mt(38px);
		display: inline-block;
		li {
			float: left;
			&:after {
				content: ">";
				padding: 0px 5px;
			}
			&:last-child:after {
				content: "";
			}
			a {
				@include link($color-disable,$color-main,0px);
			}
			a.active {
				color: $color-title;
			}
		}
	}
	.portfolio-single_banner {
	    @include mt(80px);
	    height: 550px;
	    overflow: hidden;
	    &:hover img {
	    	transform: scale(1.1);
	    	transform-origin: 50% 50%;
	    }
		img {
			width: 100%;
			transition: 0.4s;
		}
	}
	.portfolio-single_detail {
	    display: inherit;
	    margin: 70px auto;
	    height: 790px;
	    position: relative;
	    width: 970px;
		.portfolio-single_detail_slider {
			.portfolio-single_detail_slider--contain {
				    width: 100%;
				    height: auto;
				    position: absolute;
				    top: 0px;
				    margin: auto;
				    opacity: 0;
				    transition: 1s;
				    visibility: hidden;
				&.active {
					display: block!important;
					opacity: 1;
					visibility: visible;
					animation-name: cd;
 					animation-duration: 2s;
				}
				@keyframes cd {
					0% {
						transform: translateX(200px);
						opacity: 0;
					}
					100% {
						transform: translateX(0);
						opacity: 1;
					}
				}
				img {
					width: 100%;
				}
				.portfolio_slider--contain--left {
					h1 {
						@include subtitle(auto,5px);
						@include ma();
						font-size: 36px;
					}
					p {
						@include regular2(20px);
						text-transform: none;
						padding-top: 5px;
					}
				}
				.portfolio_slider--contain--right {
					padding-bottom: 65px;
					p {
						@include regular(auto,10px);
						font-weight: 400;
					}
					a {
						@include link($color-title,$color-main,0px);
						padding: 0px 15px;
					}
				}
			}
		}
		.portfolio-single_detail_control {
		    padding-top: 30px;
		    display: inline-block;
		    width: 100%;
		    height: 110px;
		    position: absolute;
		    bottom: 0;
			.portfolio-single_detail_control--prv {
				float: left;
				a {
					@include link($color-title,none,0px);
					letter-spacing: 3.2px;
					&:hover i {
						color: $color-main;
						font-size: 24px;
					}
					i {
						transition: 0.4s;
						padding-right: 10px;
					}
				}
				h2 {
					@include subtitle(auto,0px);
					font-size: 36px;
				}
			}
			.portfolio-single_detail_control--next {
				float:right;
				a {
					@include link($color-title,none,0px);
					letter-spacing: 3.2px;
					&:hover i {
						color: $color-main;
						font-size: 24px;
					}
					i {
						transition: 0.4s;
						padding-left: 10px;
					}
				}
				h2 {
					@include subtitle(auto,0px);
					font-size: $typo-x-large;
				}
			}
		}
	}
}