// font-family
$font-main:'Poppins', sans-serif;
$font-icon:'Playfair Display', serif;
// font-weight
$typo-weight--light: 300;
$typo-weight--regular: 400;
$typo-weight--bold: 700;
// font-size
$typo-xx-large: 42px;
$typo-x-large: 36px;
$typo-large: 22px;
$typo-regular: 16px;
$typo-small: 14px;
$typo-thin: 12px;
// style
$typo-uppercase: uppercase;
$typo-spacing: 1.3px;
$typo-spacing--2: 5.6px;
$text-decoration--none: none;
// line-height 
$typo-lh--x-large: 56px;
$typo-lh--large: 36px;
$typo-lh--regular: 26px;
$typo-lh--small: 22px;
//align 
$typo-left: left;
$typo-right: right;
$typo-center: center;
// base font size 
h1 {font-size: $typo-xx-large};
h2 {font-size: $typo-x-large};
h3 {font-size: $typo-large};
h4 {font-size: $typo-regular};
h5 {font-size:$typo-small};
h6 {font-size: $typo-thin};
p {font-size: $typo-regular}



