@mixin hover {
  &:hover { @content; }
}

@mixin focus {
  &:focus { @content; }
}

@mixin active {
  &:active { @content; }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}
