// margin
@mixin ma() {margin: 0 auto;}
@mixin ml--auto() {margin-left: auto;}
@mixin mr--auto() {margin-right: auto;}
@mixin mt($top) {margin-top: ($top)}
@mixin mr($right) {margin-right: ($right)}
@mixin ml($left) {margin-left: ($left)}
@mixin mb($bottom) {margin-bottom: ($bottom)}
// padding
@mixin pt($top) {padding-top: ($top)}
@mixin pr($right) {padding-right: ($right)}
@mixin pl($left) {padding-left: ($left)}
@mixin pb($bottom) {padding-bottom: ($bottom)}
